<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazona</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/91393ea5bf.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="topnavbar">
        <div class="logo-envio">
          <a class="logo" href="#"
            ><img src="/img/amazona-blanco.png" alt=""
          /></a>
          <div class="envio">
            <a href="#">
              <i class="fa-solid fa-location-dot"></i>
            </a>
            <p>
              Envio a <br />
              <a href="#">Argentina</a>
            </p>
          </div>
        </div>
        <div class="searchbar">
          <a class="linkizquierda" href="#">Categorias</a>
          <input type="text" />
          <a class="linkderecha" href="#"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></a>
        </div>
        <div class="login-carrito">
          <a class="login" href="/login">
            <i class="fa-solid fa-user"></i>
            <p>
              Iniciar <br />
              sesión
            </p>
          </a>
          <a class="carrito" href="#">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
      </nav>
      <nav class="bottomnavbar">
        <div class="categorias">
          <a href="#">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
          </a>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">Ofertas del dia</a></li>
            <li><a href="#">Mas populares</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Servicio al cliente</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="banner">
          este es el banner
      </section>
      <section class="principal">
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
        <article>
          <div>
            <h2>Titulo</h2>
          </div>
          <div class="itemswrapper">
            <div>item 1</div>
            <div>item 2</div>
            <div>item 3</div>
            <div>item 4</div>
          </div>
          <div class="linkitems">
            <a href="#">Ver más</a>
          </div>
        </article>
      </section>

      <section class="wrapper">
        <h3>Top ventas para ti</h3>
        <div class="topventas">
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
        </div>
      </section>

      <section class="wrapper">
        <h3>Productos populares</h3>
        <div class="prodpopulares">
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
          <article>
            <h2>Titulo</h2>
          </article>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
