<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amazona</title>
  <link rel="stylesheet" href="css/styles.css" />
  <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="topnavbar">
      <div class="logo-envio">
        <a class="logo" href="#"><img src="/img/amazona-blanco.png" alt="" /></a>
        <div class="envio">
          <a href="#" class="iconoenvio">
            <i class="fa-solid fa-location-dot"></i>
          </a>
          <p>
            <span class="enviara">Enviar a</span> <br />
            <a href="#">Argentina</a>
          </p>
        </div>
      </div>
      <div class="searchbar">
        <a class="linkizquierda" href="#">Categorias</a>
        <input type="text" />
        <a class="linkderecha" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div class="login-carrito">
        <a class="login" href="/login">
          <i class="fa-solid fa-user"></i>
          <p>
            Iniciar <br />
            sesión
          </p>
        </a>
        <a class="carrito" href="/cesta">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="numerocesta">3</span>
        </a>
      </div>
    </nav>
    <nav class="bottomnavbar">
      <div class="categorias">
        <a href="#">
          <i class="fa-solid fa-bars"></i>
          <p>All</p>
        </a>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Ofertas del dia</a></li>
          <li><a href="#">Mas populares</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Servicio al cliente</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <section class="banner">
      
    </section>
    <section class="principal">
      <article>
        <div>
          <h2>Tecnología</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/auriculares1.webp">
            <span>Auriculares Sony</span>
          </div>
          <div>
            <img src="/img/macbookair1.webp">
            <span>Macbook Air</span>
          </div>
          <div>
            <img src="/img/msi1.webp" alt="">
            <span>Notebook MSI</span>
          </div>
          <div>
            <img src="/img/ps51.webp" alt="">
            <span>Playstation 5</span>
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Moda</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/pantalon1.webp" alt="">
            <span>Campera Softshell</span>
          </div>
          <div>
            <img src="/img/buzo1.webp" alt="">
            <span>Pantalon cargo</span>
          </div>
          <div>
            <img src="/img/zapatillas1.webp" alt="">
            <span>Buzo canguro</span>
          </div>
          <div>
            <img src="/img/campera1.webp" alt="">
            <span>Nike Legacy</span>
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Hogar</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/cama1.webp" alt="">
            <span>Cama box</span>
          </div>
          <div>
            <img src="/img/silla1.webp" alt="">
            <span>Silla de comedor</span>
          </div>
          <div>
            <img src="/img/sillon1.webp" alt="">
            <span>Sillon esquinero</span>
          </div>
          <div>
            <img src="/img/mesa1.webp" alt="">
            <span>Mesa ratona</span>
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Deportes</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/pelota.jpg" alt="">
            <span>Pelota de Fútbol</span>
          </div>
          <div>
            <img src="/img/botines1.webp" alt="">
            <span>Nike Phantom</span>
          </div>
          <div>
            <img src="/img/pesa1.webp" alt="">
            <span>Pesa mancuerna</span>
          </div>
          <div>
            <img src="/img/colchoneta1.webp" alt="">
            <span>Colchoneta Gimnasia</span>
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Movilidad</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/monopatinelectrico.webp" alt="">
            <span>Monopatin Eléctrico</span>  
          </div><div>
            <img src="/img/segway.jpg" alt="">
            <span>Segway</span>  
          </div><div>
            <img src="/img/bici1.webp" alt="">
            <span>Bicicleta MTB</span>  
          </div><div>
            <img src="/img/bicielectrica.jpg" alt="">
            <span>Bicicleta Eléctrica</span>  
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article>
        <div>
          <h2>Niños</h2>
        </div>
        <div class="itemswrapper">
          <div>
            <img src="/img/monopatin.jpg" alt="">
            <span>Monopatin</span>  
          </div>
          <div>
            <img src="/img/juguetes.jpg" alt="">
            <span>Juguetes</span>  
          </div>
          <div>
            <img src="/img/utiles.webp" alt="">
            <span>Útiles Escolares</span>  
          </div>
          <div>
            <img src="/img/triciclo.jpg" alt="">
            <span>Triciclo</span>  
          </div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;"> 
        <div>
          <h2>Perfumeria</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
      <article style="display: none;">
        <div>
          <h2>Automoviles</h2>
        </div>
        <div class="itemswrapper">
          <div>item 1</div>
          <div>item 2</div>
          <div>item 3</div>
          <div>item 4</div>
        </div>
        <div class="linkitems">
          <a href="#">Ver más</a>
        </div>
      </article>
    </section>

    <section class="wrapper">
      <h2>Top ventas para ti</h2>
      <div class="topventas">
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>

    <section class="wrapper">
      <h2>Productos populares</h2>
      <div class="prodpopulares">
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
        <article>
          <h1>Titulo</h1>
        </article>
      </div>
      <div class="linkitems">
        <a href="#">Ver más</a>
      </div>
    </section>
  </main>

  <footer></footer>
</body>

</html>