@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: fit-content;
    background-color: #eaeded;
    position: absolute;
    min-width: 390px;
}

main {
    position: relative;
    margin-top: 90px;
    /*top: 100px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: fit-content;
}
.edit-links,.product-title a {
    color: black;
   text-decoration: none; 
}
.edit-links,.product-title a:visited{
    color: black;
}
.product-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #979595;
    padding: 5px;
    text-align: left;
}

.product-title { 
    width: 100%;
    display: flex;
    
    /*font-size: 1.5em;*/
}
.fa-trash {
    color:#e30c0c;
}
.fa-pen-to-square{
    color: #d1a732;
}

.product-image {
    display: flex;
    /* width: 30%; */
    align-items: center;
    justify-content: center;
    /* height: 90px; */
    /* margin-right: 100px;*/
}

.product-info {
    display: flex;
    width: 80%;
    align-items: center;
}

.product-info p {
    width: 70%;
    align-items: center;
}

.edit-links {
    display: flex;
    font-size: 16pt;
}

.edit-links a {
    margin: 0px 20px;
}

.product-image img {
    max-height: 85px;
    max-width: 100px;
    /*width: 100%;*/
    height: 100%;
}
table {
    width: 100%;
}
table td{
    width: 25%;
}
.filter-elements {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-left: 10px;
}

.hidden {
    display: none;
}

main a:visited {
    color: black;
}
