@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.selectecategorias{
  width: 100%;
   
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: 0.4em 1.4em 0.3em 0.8em;
    /* width: 400px; */
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgb(0 0 0 / 3%);
    border-radius: 0.3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    display: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #eaeded;
}
main {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  background-color: #eaeded;
  display: flex;
}
.relleno {
  height: 100px;
}
.barralateral {
  padding: 10px;
  
  height: 100%;
  min-height: 630px;
  width: 15%;
  min-width:130px ;
}
.barralateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.barralateral ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.barralateral ul li a {
  text-decoration: none;
  color: #000;
}
.contenedorproductos {
  background-color: red;
}
.listadoproductos {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  /*justify-content: space-around;*/
  align-items: flex-start;
}
.item-producto {
  display: flex;
  width: 250px;
  height: 400px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px #ccc;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}

.item-producto a {
  width: 100%;
  height: 100%;
}
.tituloproducto {
  font-size: 1.2em;
  font-weight: 500;
  font-weight: lighter;
  margin-bottom: 10px;
  color: #3e3e3e;
  height: 30%;
}
.item-producto a img {
  max-width: 100%;
  max-height: 100%;
}
.imagenproducto {
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}
.precio {
  color: rgb(35 47 63);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
link,
a,
link:visited {
  text-decoration: none;
  color: #000;
}
.item-producto:hover {
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px rgb(35 47 63), 0 0 0 2px rgb(35 47 63 / 30%);
    outline: none;
}

.separadorimg {
  height: 1px;
  border: 0;

  background-color: #e7e7e7;
  margin: 15px auto 10px auto;
}
.tituloseccion{
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin: 32px 0 10px;
}
.textocategoria{
    color: #333;
    display: block;
    font-size: 14px;
    letter-spacing: .15px;
    line-height: .89;
    margin: 0 0 13px;
    text-decoration: none;
}
.textocategoria a {
  width: 100%;
  height: 100%;
}

li.textocategoria:hover a {
    color: white;
}

li.textocategoria:hover {
    background-color: rgb(35 47 63);
    color: white;
}

@media(max-width: 600px) {
  .item-producto {
    width: 100%;
  }
  .selectecategorias{
    display: block;
  }
  .barralateral ul {
    display: none;
  }
  .barralateral {
    margin-top: 20px;
  }
  .barralateral h2 {
    font-size: 1.1em;
  }
  .barralateral {
    padding: 10px;
    height: 100%;
    min-height: 100px;
    /* width: 15%; */
    min-width: 130px;
    width: 100%;
    text-align: center;
}
main {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  background-color: #eaeded;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
}