@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}
main {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
}
.barralateral {
  padding: 10px;
  
  height: 100%;
  min-height: 630px;
  width: 15%;
  min-width:130px ;
}
.barralateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.barralateral ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.barralateral ul li a {
  text-decoration: none;
  color: #000;
}
.contenedorproductos {
  background-color: red;
}
.listadoproductos {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}
.item-producto {
  display: flex;
  width: 250px;
  height: 515px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px #ccc;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}
.tituloproducto {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.item-producto a img {
  max-width: 100%;
  max-height: 100%;
}
.imagenproducto {
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}
.precio {
  color: rgb(35 47 63);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
link,
a,
link:visited {
  text-decoration: none;
  color: #000;
}
.item-producto:hover {
  box-shadow: 0px 0px 10px 0px #a9a4a4;
}
.separadorimg {
  height: 1px;
  border: 0;

  background-color: #e7e7e7;
  margin: 15px auto 10px auto;
}
.tituloseccion{
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin: 32px 0 10px;
}
.textocategoria{
    color: #333;
    display: block;
    font-size: 14px;
    letter-spacing: .15px;
    line-height: .89;
    margin: 0 0 13px;
    text-decoration: none;
}
li.textocategoria:hover a {
    color: white;
}

li.textocategoria:hover {
    background-color: rgb(35 47 63);
    color: white;
}