.contenedor {
    display: flex;
    width: 100%;
    background-color: #eaeded;
    padding: 10px;
    margin-top: 90px;
    padding-bottom: 30px;
    height: fit-content;
}
.mensajeError{
    color: red;
}
.cesta {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: 1px 0px 17px 5px rgb(20 31 56 / 10%);
}

.barralateral {
    width: 20%;
    margin-left: 10px;
    display: flex;
}

.cestaitem {
    display: flex;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid rgb(209, 203, 203);
}

.detalleitem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    flex: 0.75;
    padding: 10px;
}

.barralateralitem {
    display: flex;
    height: 100px;
    width: 100%;
}

.imagenitem {
    overflow: hidden;
    display: flex;
    width: 160px;
    height: fit-content;
    flex: 0.15;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.imagenitem img{
   
    max-height: 90px;
}

.precioitem {
    display: flex;
    height: 100px;
    flex: 0.25;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    padding: 20px 5px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.titulodesc {
    font-size: 24px;
    font-weight: bold;
}

.opcionesitem {
    display: flex;
}

.linksopciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 5px;
}

.linksopciones a {
    display: block;
    margin-right: 5px;
    text-decoration: none;
    color: rgb(48, 111, 167);
}

.linksopciones a:hover {
    text-decoration: underline;
}

.opcionesitem select {
    margin-left: 5px;
    width: 100%;
    min-width: 50px;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: #EAEDED;
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.cantidad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.total {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 20px;
    padding: 20px;
}

.total span {
    display: block;
}

.cajasubtotal {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
    box-shadow: 1px 0px 17px 5px rgb(20 31 56 / 10%);
}

.cajasubtotal button {
    display: flex;
    height: 32px;
    padding: 0 30px;
    outline: none;
    background-color: #FEBD6A;
    border: 0;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #3a3737;
}

.headitems {
    display: flex;
    height: fit-content;
    border-bottom: 1px solid rgb(230, 230, 230);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 20px;
    font-size: 20px;
}

.divcesta {
    font-size: 28px;
    padding: 18px;
}

.divprecio {
    font-size: 14px;
    color: rgb(196, 196, 196);
}

@media (max-width: 800px) {
    .contenedor {
        margin-top: 110px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .cesta {
        width: 100%;
    }
    .barralateral {
        margin-top: 10px;
        width: 100%;
        margin-left: 0px;
        justify-content: center;
    }
    .barralateralitem {
        width: 90%;
        justify-content: center;
    }
    .titulodesc, .descripcionitem {
        text-align: center;
        margin-bottom: 10px;
    }    
    .cajasubtotal {
        width: 100%;
    }
    .opcionesitem {
        flex-direction: column;
    }
    .opcionesitem .linksopciones a {
        text-align: center;
        width: 90%;
        height: 30px;
    }
    .opcionesitem select {
        width: 80px;
    }
}

@media (max-width: 600px) {
    .cestaitem {
        flex-direction: column;
        align-items: center;
    }
    .detalleitem {
        align-items: center;
    }
    .descripcionitem {
        display: none;
    }
    .opcionesitem {
        margin-top: 10px;
        align-items: center;
    }
    .cantidad {
        width: 300px;
        justify-content: space-evenly;
    }
    .linksopciones {
        margin-top: 10px;
        justify-content: center;
    }
    .precioitem {
        height: 30px;
        padding: 0px;
    }
    .total {
        text-align: center;
    }
}