@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*************************************/
#recordar{
   display:none;
}
.recordar input{
    margin-right: 10px;
    
}
.content-input{
	position: relative;
    margin-top: 30px;
	margin-bottom: 30px;
	padding:5px 0 5px 60px; /* Damos un padding de 60px para posicionar 
        el elemento <i> en este espacio*/
	display: block;
}
 
/* Estas reglas se aplicarán a todos las elementos i 
después de cualquier input*/
.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 0;
       top: 0;
}
 
/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.content-input input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 15px;
}
.content-input input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.content-input input[type=checkbox]:checked + i{
 background: #2AC176;
}
.content-input input[type=checkbox] + i:after{
	content: 'Si';
	position: absolute;
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	top: 8px;
	left: 4px;
	opacity: 0 /* Ocultamos este elemento */;
	transition: all 0.25s ease 0.25s;
}
 
/* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos */
.content-input input[type=checkbox]:checked + i:after{
 opacity: 1;
}


/**************************************/
body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.error{
    color: white;
    background-color: rgb(241 99 99 / 70%);
    width: 100%;
    padding: 2px 5px;
    font-size:12px;
}
.loginbox {
    width: 30%;
    min-width: 400px;
    height: fit-content;
    max-height: 550px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
}

.loginbox form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo {
    width: fit-content;
    height: fit-content;
    margin-top: 10%;
}

.loginuser, .loginpassword {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.loginpassword {
    margin-top: 5%;
    width: 80%;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}*/

.registrate {
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    color: rgb(132, 147, 173);
    font-size: 13px;
}

.registrate a:hover, .olvido:hover {
    text-decoration: underline;
}

.olvido, .registrate a {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(53 124 243);
}

.loginbutton {
    margin-top: 5%;
    margin-bottom: 10%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbutton button {
    display: flex;
    height: 32px;
    padding: 0 30px;
    outline: none;
    background-color: #FEBD6A;
    border: 0;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #3a3737;
}

.loginuser input, .loginpassword input {
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

label {
    color: rgb(132, 147, 173);
}

@media(max-width: 420px) {
    .loginbox {
        min-width: 340px;
    }
}
