header {
    width: 100%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.topnavbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #131921;
    justify-content: space-around;
    position: relative;
    align-items: center;
    min-width: fit-content
}

.bottomnavbar {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #232F3F;
    position: relative;
    align-items: center;
    min-width: fit-content;
}

/* -------------------- TOP NAV BAR -------------------- */

.iconoenvio {
    position: relative;
    top: 7px;
    left: 20px;
    color: white;
}

.iconoenvio i {
    color: white;
}

.envio p a {
    color: white;
}

.logo-envio {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.menu {
    display: none;
}

.searchbar {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.login-carrito {
    width: 20%;
    min-width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logo-navbar {
    margin-top: 6px;
    width: fit-content;
}

.envio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.envio a {
    color: rgb(132, 147, 173);
    text-decoration: none;
}

.envio i {
    padding: 5px;
}

.envio p {
    margin-left: 20px;
    position: relative;
    color: rgb(132, 147, 173);
}

.searchbar input {
    width: 80%;
    min-width: 150px;
    height: 40px;
    padding: 0px 5px;
    font-size: 20px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 0;
    color: rgb(85, 85, 85);
}

.searchbar a {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 10px;
  /*  border: 1px solid #fff;*/
}

.linkizquierda {
    border-radius: 6px 0px 0px 6px;
    background-color: #F3F3F2;
}

.linkderecha {
    border-radius: 0px 6px 6px 0px;
    background-color: #FEBD6A;
}

.searchbar a i {
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
    height: 38px;
}

.login p {
    margin-left: 16px;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    font-size: 22px;
}

.numerocesta {
    position: relative;
    color: #ff8100;
    left: -22px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50%;
    top: -7px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* -------------------- BOTTOM NAV BAR -------------------- */

.bottomnavbar .categorias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    height: 30px;
    margin-left: 10px;
    position: relative;
    min-width: 60px;
}

.categorias i {
    font-size: 20px;
}

.categorias a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    min-width: 550px;
    height: 30px;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    position: relative;
}

.links a {
    display: flex;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 0px 10px;
    height: 30px;
    align-items: center;
    font-weight: 500;
    position: relative;
}

/* -------------------- ANIMACIONES -------------------- */


.envio p a::after {
    content: '';
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 800ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.envio p a:hover::after,
.envio p a:focus::after {
    transform: scale(1);
}

.linkizquierda:hover {
    background-color: #b9b9b8;
    transition: 0.6s;
}

.linkderecha:hover {
    background-color: #f39e2e;
    transition: 0.6s;
}

.searchbar input:focus {
    border: 0.1px solid white
}

.links a::after {
    content: '';
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 600ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.links a:hover::after,
.links a:focus::after {
    transform: scale(1);
}

.linkitems a:hover {
    text-decoration: underline;
}
/**************** menu dropdwon ********************/
.dropbtn {
    background-color: #131921;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 200px;
    color: black;
    z-index: 1;
    border-radius: 5px;

}
.dropdown-content ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    padding: 5px;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown-content a:hover {background-color: #232F3F; color: white;}
.dropdown:hover .dropdown-content {display: block;}

/**********************************************************/
/* -------------------- MEDIA QUERIES -------------------- */

@media(max-width: 800px) {
    header {
        position: absolute;
    }

    .topnavbar {
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu {
        color: #fff;
        font-size: 2em;
        margin-left: 10px;
        display: block;
    }

    .logo-envio {
        position: absolute;
        left: 50px;
        top: 5px;
    }

    .envio {
        display: none;
    }

    .login-carrito {
        margin-right: 20px;
    }

    .bottomnavbar {
        display: none;
    }

    .envio i {
        display: none;
    }

    .login i {
        display: none;
    }

    .searchbar {
        order: 2;
        margin: auto;
        width: 100%;
        padding: 5px;
        align-self: flex-start;
    }
}

@media(max-width: 412px) {

    header {
        position: absolute;
    }

    .searchbar {
        width: 90%;
        min-width: 200px;
    }

    .searchbar a {
        width: 60px;
    }

    .searchbar a i {
        width: 40px;
        padding-left: 10px;
    }

    .searchbar input {
        width: 80%;
        min-width: 150px;
    }

    .logo-envio {
        margin-left: 8px;
    }

    .login-carrito {
        margin-right: 8px;
    }
}