@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
}
/* ----------------------------------- MAIN -----------------------*/

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 90px;
}

.images {
  height: 600px;
  width: 40%;
  border-radius: 6px;
  /*box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);*/
  margin: 20px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  /*box-shadow: 0px 0px 2px 0px lightgray;*/
}

.mini-viewer {
  height: 400px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  position: relative;
  /*box-shadow: 0px 0px 2px 0px lightgray;*/
}

.mini-image {
  display: flex;
  /* max-height: 20%; */
  width: 90%;
  min-width: 70px;
  /* background-color: beige; */
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
  /* margin-bottom: 5px; */
  overflow: hidden;
  margin-top: 5px;
}

.mini-image img {
  width: 100%;
  height: auto;
}

.main-image {
  height: 400px;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  position: relative;
  /* box-shadow: 0px 0px 2px 0px lightgray;*/
}

.main-image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.mensajeimagen {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

.productInfo {
  height: 600px;
  width: 40%;
  border-radius: 6px;
  /*box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);*/
  margin: 20px 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  box-shadow: 0px 0px 2px 0px lightgray;
}

.productInfo h2 {
  padding: 10px;

  width: 100%;
  font-size: 1.6em;
}
.calfiarriba {
  padding-left: 10px;
}
.productDescription {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.calfiarriba .fa-star {
  color: #febd6a;
}
.productDescription p {
  margin-top: 10px;
}

.productStyles {
  width: 100%;
  height: 250px;
  padding: 10px;
}

.barraderecha {
  width: 20%;
  box-shadow: 0px 0px 2px 0px lightgray;
  height: 600px;
  width: 245px;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 10px;
}

.barraderecha .precio {
  font-size: 18px;
  line-height: 24px !important;
  color: rgb(177, 39, 4);
  font-weight: bold;
}

.detenvio {
  margin-top: 20px;
}

.flash {
  display: block;
  color: blue;
  font-weight: 400;
  font-size: 12px;
}

.fechaentrega {
  display: block;
  color: black;
  font-weight: bold;
}

.entrega {
  margin-top: 20px;
}

.stock {
  color: green;
  font-size: 24px;
  margin-top: 20px;
}

.cantidad select {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  font-size: 14px;
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 225, 225);
  color: rgb(85, 85, 85);
}

.botones {
  margin-top: 20px;
}

.agregar {
  background-color: rgb(255 216 20);
  font-size: 12px;
  outline: none;
  border: 0;
  line-height: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.botonagregar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.comprar {
  background-color: rgb(255 164 28);
  font-size: 12px;
  outline: none;
  border: 0;
  line-height: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.botoncomprar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.envioacargo {
  margin-top: 20px;
}

.vendedor {
  margin-top: 10px;
}

.garantia {
  margin-top: 20px;
}

.botones button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.separador {
  color: rgb(163, 163, 163);
  width: 98%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.compralocon {
  padding: 20px;
}

.publicacion {
  width: 98%;
  margin: auto;
}

.preguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.preguntas h3 {
  margin-left: 20px;
}
.itempreguntas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  width: 98%;
  margin: auto;
  margin-top: 15px;
  /*box-shadow: 0px 0px 2px 0px lightgray;*/
  padding: 10px;
}
.preg-resp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.respuesta {
  margin: 2px 0px;
  width: 98%;
  padding-left: 15px;
  padding-top: 5px;
  color: rgb(167, 162, 162);
}

.usuario {
  margin: 2px 0px;
  width: 10%;
  max-width: 150px;
  min-width: 100px;
  font-weight: bold;
  margin-right: 10px;
}

.pregunta {
  margin: 2px 0px;
  width: fit-content;
}

.comentario-calificacion {
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
}

.comment-box {
  margin-top: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  /*box-shadow: 0px 0px 2px 0px lightgray;*/
}

.comentario {
  width: 80%;
  align-items: center;
  height: fit-content;
  display: flex;
  padding: 5px;
}

.comentario p {
  display: flex;

  width: 100%;
}

.calificacion {
  color: #febd6a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;

  min-width: 100px;
}

.postComentario {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.postComentario h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.postComentario form {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form section {
  display: flex;
  width: 60%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.postComentario label {
  height: 30px;
  margin-top: 10px;
  font-size: 1.1em;
}

.postComentario textarea {
  height: 160px;
  padding: 10px;
  width: 95%;
  font-size: 1.2em;
  outline: none;
  border: none;
  box-shadow: 0px 1px 2px 1px lightgray;
}

.radio-buttons {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
}

.postComentario button {
  width: 120px;
  height: 60px;
  background-color: #febd6a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.seaparaseccion {
  width: 98%;
  color: #aaa;
  display: none;
  margin: auto;
}
@media (max-width: 1024px) {
  .seaparaseccion {
    display: block;
  }
  main {
    flex-wrap: wrap;
  }

  .images {
    width: 50%;
  }

  .barraderecha {
    width: 60%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .botonagregar,
  .botoncomprar {
    width: 40%;
  }
  .calfiarriba {
    display: none;
  }
}
.postComentario section {
  width: 90%;
}
@media (max-width: 1024px) {
  .images,
  .productInfo,
  .barraderecha {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: none;
  }
  main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 90px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
  }
}

@media (max-width: 700px) {
  .botonagregar,
  .botoncomprar {
    width: 100%;
  }
  .itempreguntas {
    flex-direction: row;
  }
  .respuesta {
    padding-left: 10px;
  }
  .usuario{
    width: fit-content;
  }
}

/*******   estrellas de rating ************/

.rating {
  margin-top: 20px;
}

.rating input[type="radio"] {
  position: fixed;
  top: 0;
  right: 100%;
}

.rating label {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0;
  float: left;
  cursor: pointer;
  @include transition(0.2s);
}

.rating input[type="radio"]:checked ~ input + label {
  background: none;
  color: #aaa;
}

.rating input + label {
  color: #febd6a;
  margin: 0 0 1em 0;
}
.btnenviar {
  padding: 10px;
}

/***************** fin config estrellas rating ********************/
