@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
/* ----------------------------------- MAIN -----------------------*/

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
}

.images {
    height: 600px;
    width: 40%;
    border-radius: 6px;
    /*box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);*/
    margin: 20px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
}

.mini-viewer {
    height: 400px;
    width: 15%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.mini-image {
    display: flex;
    width: 80%;
    background-color: beige;
}

.main-image {
    height: 400px;
    width: calc(100% - 100px);
    border: 1px solid lightgray;
    padding: 10px;
    position: relative;
}

.mensajeimagen{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.productInfo {
    height: 600px;
    width: 40%;
    border-radius: 6px;
    /*box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);*/
    margin: 20px 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
}

.productInfo h2 {
    padding: 10px;
    height: 150px;
    width: 100%;
    font-size: 1.6em;
    border: 1px solid lightgray;
}

.productDescription {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    padding: 10px;
}

.productStyles {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid lightgray;
}

.barraderecha{
    width: 20%;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
    height: 600px;
    width: 245px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 30px;
    padding: 10px;
}

.barraderecha .precio{
    font-size: 18px;
    line-height: 24px !important;
    color: rgb(177, 39, 4);
    font-weight: bold;
}

.detenvio{
    margin-top: 20px;
}

.flash{
    display: block;
    color: blue;
    font-weight: 400;
    font-size: 12px;
}

.fechaentrega{
    display: block;
    color: black;
    font-weight: bold;
}

.entrega{
    margin-top: 20px;
}

.stock{
    color: green;
    font-size: 24px;
    margin-top: 20px;
}

.cantidad select{
    margin-top:10px;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    font-size: 14px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 225, 225);
    color: rgb(85, 85, 85);
}

.botones {
    margin-top: 20px;
}

.agregar{
    background-color: rgb(255 216 20);
    font-size: 12px;
    outline: none;
    border: 0;
    line-height: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.botonagregar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;  
}

.comprar{
    background-color: rgb(255 164 28);
    font-size: 12px;
    outline: none;
    border: 0;
    line-height: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.botoncomprar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.envioacargo{
    margin-top: 20px;
}

.vendedor{
    margin-top: 10px;
}

.garantia{
    margin-top: 20px;
}

.botones button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.separador{
    color: rgb(163, 163, 163);
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compralocon {
    padding: 20px;
}

.publicacion{
    width: 98%;
    margin:auto;
}

.preguntas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.itempreguntas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    width: 98%;
    margin: auto;
    margin-top: 15px;
}

.respuesta{
    width: 98%;
    margin:auto;
    padding-left: 10%;
    color: rgb(167, 162, 162);
}

.usuario{
    width: 10%;
    font-weight: bold;
    margin-right: 10px;
}

.pregunta{
    width: fit-content;
}

.calificaion{
    color: #ffa41c;
}

.itemcalificaion{
    width: 98%;
    margin:auto;
    display: flex;
    margin-top: 10px;
}

.calificaion{
    width: 10%;
}

.comentario{
    width: 90%;
}