@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.errores{
    background-color: rgb(255 6 6 / 56%);
    padding: 3px;
    color: white;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
body {
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: #EAEDED;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro {
    width: 40%;
    min-width: 700px;
    height: 85%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form img {
    margin-top: 20px;
}

.form-box, .form-date, .form-select, .form-submit {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
}
.form-submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
label {
    margin-bottom: 5px;
    color: rgb(132, 147, 173);
    display: block;
    width: 100%;
}

.form-box input {
    /*height: 30px;
    width: 80%;
    padding-left: 5px;
    border-radius: 6px;
    font-size: 16px;
    border: 2px solid rgb(132, 147, 173);*/
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-date input {
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-select select {
    width: 100%;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    color: rgb(85, 85, 85);
}

.form-image {
    height: 30px;
    justify-content: center;
}

.form-image label {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 2px rgb(20 31 56 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(132, 147, 173);
}

.form-image input {
    display: none;
}

.form-submit button {
    display: flex;
    height: 32px;
    padding: 0 30px;
    outline: none;
    background-color: #FEBD6A;
    border: 0;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #3a3737;
    cursor: pointer;
}

input:focus, select:focus{
    border: 1px solid #39c;
}

.redirect-links {
    color: rgb(84 105 255);
    text-decoration: none;
    margin-bottom: 6px;
    font-size: 12px;
}

.redirect-links:hover {
    text-decoration: underline;
}

@media(max-width: 1250px) {
    .registro {
        width: 50%;
        min-width: 500px;
    }

    .form-box input {
        width: 100%;
    }
}

@media(max-width: 520px) {
    .registro {
        width: 95%;
        min-width: 300px;
        padding: 10px;
    }

    .registro div {
        width: 100%;
    }

    .form-box input {
        width: 100%;
    }

    .form-submit button {
        width: 100px;
    }
}