@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eaeded;
    position: absolute;
}

main {
    padding-top: 90px;
    width: 100%;
    max-height: fit-content;
    background-color: #eaeded;
    display: flex;
    justify-content: center;
}

.categoriasSection {
    /*position: fixed;*/
    left: 15%;
    margin-top: 20px;
    width: 300px;
    height: fit-content;
    min-height: fit-content;
   /* box-shadow: 0px 0px 5px 0px rgb(173, 173, 173);*/
    margin-right: 20px;
    
}

.categoriaContainer {
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    border-bottom: 1px solid lightgray;
    /*border-radius: 4px;*/
}
.categoriaContainer link {
    text-decoration: none;
}
.categoriaLink {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    color: black;
    /*border-radius: 4px;*/
    text-decoration: none;
}

.categoriaLink:hover {
    background-color: #232f3f;
    color:white;
}

.productosSection {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: fit-content;
    min-height: 100%;
}

.productContainer {
           /* width: 600px; */
    height: 180px;
    /*box-shadow: 0px 0px 5px 0px rgb(173 173 173);*/
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 5px;
}


.productContainer:hover {
    box-shadow: 0px 0px 5px 2px rgb(173 173 173 / 19%);

}

.productImgDiv {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productInfoContainer {
    /*height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    align-content: center;
    align-items: flex-start;*/
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 5px;
    flex-direction: row;
    align-content: space-around;
    width: 80%;
    justify-content: space-between;
}

.productTitleDiv {
    /*width: 300px;*/
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productTitleDiv a {
    padding: 0px 20px;
    text-decoration: none;
  
    font-size: 20px;
    color: black;
}
.marca{
    -webkit-line-clamp: 1;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
.precio{
    color: rgb(88, 0, 0);
    display: -webkit-flex;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 8px;
}
.productTitleDiv h3 {
   /* display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;*/
    color: #333;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
}

.productImg {
    max-width: 160px;
    max-height: 160px;
}

.productInfoDiv {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    align-items: flex-start;
}

.productosNoEncontrados {
    position: absolute;
    top: 150px
}