@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 1800px;
    background-color: #eaeded;
    display: flex;
    position: absolute;
}

header {
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
}

.topnavbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #131921;
    justify-content: space-around;
    position: relative;
    align-items: center;
    min-width: fit-content
}

.bottomnavbar {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #232F3F;
    position: relative;
    align-items: center;
    min-width: fit-content;
}

/* -------------------- TOP NAV BAR -------------------- */

.logo-envio {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.searchbar {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.login-carrito {
    width: 30%;
    min-width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logo {
    margin-top: 6px;
    width: fit-content;
}

.envio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
}

.envio a {
    color: rgb(132, 147, 173);
    text-decoration: none;
}

.envio i {
    padding: 5px;
}

.envio p {
    margin-left: 20px;
    position: relative;
    color: rgb(132, 147, 173);
}

.searchbar input {
    width: 80%;
    min-width: 260px;
    height: 40px;
    padding: 0px 5px;
    font-size: 18px;
}

.searchbar a {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.linkizquierda {
    border-radius: 6px 0px 0px 6px;
    background-color: #F3F3F2;
}

.linkderecha {
    border-radius: 0px 6px 6px 0px;
    background-color: #FEBD6A;
}

.searchbar a i {
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
    height: 38px;
}

.login p {
    margin-left: 16px;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    font-size: 22px;
}

/* -------------------- BOTTOM NAV BAR -------------------- */

.bottomnavbar .categorias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    height: 30px;
    margin-left: 10px;
    position: relative;
    min-width: 60px;
}

.categorias i {
    font-size: 20px;
}

.categorias a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    min-width: 550px;
    height: 30px;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    position: relative;
}

.links a {
    display: flex;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 0px 10px;
    height: 30px;
    align-items: center;
    font-weight: 500;
    position: relative;
}

/* -------------------- MAIN Y ARTICLES -------------------- */

main {
    position: absolute;
    top: 90px;
    /*top: 100px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    top: -260px;
    position: relative;
    width: 80%;
    background-color: rgba(35, 47, 63, 0.7);
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 5px 5px 10px 5px rgba(20,31,56,0.75);
}

.principal {
    position: relative;
    top: -340px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.principal article {
    padding: 15px;
    width: 350px;
    height: fit-content;
    background-color: rgba(35, 47, 63, 0.7);
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px 2px rgba(20,31,56,0.75);
}

.principal article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.linkitems {
    text-decoration: none;
    margin-top: 20px;
}

.linkitems a {
    text-decoration: none;
    color: black;
}

.itemswrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.itemswrapper div {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    margin-bottom: 20px;
    margin-top: 10px;
}

.topventas {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.topventas article {
    margin: 15px;
    padding: 15px;
    width: 240px;
    height: 240px;
    background-color: beige;

}

.prodpopulares {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.prodpopulares article {
    margin: 15px;
    padding: 15px;
    width: 240px;
    height: 240px;
    background-color: beige;

}

section h3 {
    margin-bottom: 15px;
}

/* -------------------- ANIMACIONES -------------------- */

.banner {
    display: inline-block;
    width: 100%;
    height: 600px;
    background: rgb(247, 205, 174);
    background: linear-gradient(180deg, rgba(247, 205, 174, 1) 0%, rgba(234, 237, 237, 1) 70%);
    position: relative;
    background-image: url('../img/banner2.jpg');
    background-size: cover;
}

.carrito:hover {
    color: white;
    transition: 1s;
}

.envio a:hover {
    color: white;
    transition: 1s;
}

.envio p a::after {
    content: '';
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 800ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.envio p a:hover::after,
.envio p a:focus::after {
    transform: scale(1);
}

.linkizquierda:hover {
    background-color: #b9b9b8;
    transition: 0.6s;
}

.linkderecha:hover {
    background-color: #f39e2e;
    transition: 0.6s;
}

.searchbar input:focus {
    border: 0.1px solid white
}

.links a::after {
    content: '';
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 600ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.links a:hover::after,
.links a:focus::after {
    transform: scale(1);
}

.linkitems a:hover {
    text-decoration: underline;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media(max-width: 800px) {
    header {
        position: absolute;
    }

    .topnavbar {
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo-envio {
        margin-left: 20px;
    }

    .login-carrito {
        margin-right: 20px;
    }

    .bottomnavbar {
        display: none;
    }

    .envio i {
        display: none;
    }

    .login i {
        display: none;
    }

    .searchbar {
        order: 2;
        margin: auto;
    }

    .topventas article, .prodpopulares article {
        width: 200px;
        height: 200px;
    }

    .itemswrapper div {
        width: 240px;
        height: 240px;
    }
}

@media(max-width: 412px) {
    .searchbar {
        width: 260px;
        min-width: 200px;
    }

    .searchbar a {
        width: 60px;
    }

    .searchbar a i {
        width: 40px;
        padding-left: 10px;
    }

    .searchbar input {
        width: 220px;
        min-width: 220px;
    }

    .logo-envio {
        margin-left: 8px;
    }

    .login-carrito {
        margin-right: 8px;
    }

    .itemswrapper div {
        width: 180px;
        height: 180px;
    }

    .itemswrapper {
        height: fit-content;
    }
}