@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.enviara{
    font-size: 12px;
}
.iconoenvio{
    position: relative;
    top: 7px;
    left: 20px;
    color: white;
}
.iconoenvio i {
    color: white;
}
.envio p a {
    color:white;
}
body {
    width: 100%;
    height: 1800px;
    background-color: #eaeded;
    display: flex;
    position: absolute;
    min-width: 390px;
}

h2 {
    font-size: 1.3rem;
}

header {
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 400px;
    z-index: 9999;
}

.topnavbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #131921;
    justify-content: space-around;
    position: relative;
    align-items: center;
    min-width: fit-content
}

.bottomnavbar {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #232F3F;
    position: relative;
    align-items: center;
    min-width: fit-content;
}

/* -------------------- TOP NAV BAR -------------------- */

.logo-envio {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.searchbar {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: fit-content;
}

.login-carrito {
    width: 30%;
    min-width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logo {
    margin-top: 6px;
    width: fit-content;
}

.envio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.envio a {
    color: rgb(132, 147, 173);
    text-decoration: none;
}

.envio i {
    padding: 5px;
}

.envio p {
    margin-left: 20px;
    position: relative;
    color: rgb(132, 147, 173);
}

.searchbar input {
    width: 80%;
    min-width: 260px;
    height: 40px;
    padding: 0px 5px;
    font-size: 20px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 0;
    color: rgb(85, 85, 85);
}

.searchbar a {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.linkizquierda {
    border-radius: 6px 0px 0px 6px;
    background-color: #F3F3F2;
}

.linkderecha {
    border-radius: 0px 6px 6px 0px;
    background-color: #FEBD6A;
}

.searchbar a i {
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: white;
    text-decoration: none;
    height: 38px;
}

.login p {
    margin-left: 16px;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    font-size: 22px;
}

.numerocesta {
    position: relative;
    color: #ff8100;
    left: -22px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50%;
    top: -7px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* -------------------- BOTTOM NAV BAR -------------------- */

.bottomnavbar .categorias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    height: 30px;
    margin-left: 10px;
    position: relative;
    min-width: 60px;
}

.categorias i {
    font-size: 20px;
}

.categorias a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    min-width: 550px;
    height: 30px;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    position: relative;
}

.links a {
    display: flex;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 0px 10px;
    height: 30px;
    align-items: center;
    font-weight: 500;
    position: relative;
}

/* -------------------- MAIN Y ARTICLES -------------------- */

main {
    position: absolute;
    top: 90px;
    /*top: 100px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    top: -260px;
    position: relative;
    width: 90%;
    background-color: white;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 1px 0px 17px 5px rgb(20 31 56 / 10%);

}

.principal {
   /* position: relative;
    top: -340px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    align-content: center;*/
    position: relative;
    top: -340px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    align-content: center;
}

.principal article {
    padding: 15px;
    width: 400px;
    height: fit-content;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 2px rgba(20, 31, 56, 0.10);
}

.principal article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    /*justify-content: space-around;*/
    align-items: center;
}

.linkitems {
    text-decoration: none;
    margin-top: 20px;
}

.linkitems a {
    text-decoration: none;
    color: black;
}

.itemswrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.itemswrapper div {
    position: relative;
    width: 160px;
    height: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.product-image-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product-image-link span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 15%;
    font-size: 0.8em;
}

.product-image-link img {
    max-width: 100%;
    max-height: 85%;
    margin-bottom: 10%;
}

.topventas {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.topventas article {
    margin: 15px;
    width: 180px;
    height: 180px;
    background-color: white;

}

.prodpopulares {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.prodpopulares article {
    margin: 15px;
    width: 180px;
    height: 180px;
    background-color: white;
}

.prodpopulares article a, .topventas article a {
    width: 100%;
    height: 100%;
   
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position:relative;
}

.prodpopulares img, .topventas img {
    max-height: 100%;
    max-width: 130px;
}

section h3 {
    margin-bottom: 15px;
}
.topventas article h1, .prodpopulares article h1{
    padding: 2px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    text-align: center;
    
    font-weight: 300;
    top: 158px;
}
.topventas article, .prodpopulares article{
    overflow: hidden;
}
.prodpopulares article, .topventas article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* -------------------- ANIMACIONES -------------------- */

.banner {
    display: inline-block;
    width: 100%;
    height: 600px;
    background: rgb(247, 205, 174);
    background: linear-gradient(180deg, rgba(247, 205, 174, 1) 0%, rgba(234, 237, 237, 1) 70%);
    position: relative;
    background-image: url('../img/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.prodpopulares article:hover, .topventas article:hover, .itemswrapper div:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.envio p a::after {
    content: '';
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 800ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.envio p a:hover::after,
.envio p a:focus::after {
    transform: scale(1);
}

.linkizquierda:hover {
    background-color: #b9b9b8;
    transition: 0.6s;
}

.linkderecha:hover {
    background-color: #f39e2e;
    transition: 0.6s;
}

.searchbar input:focus {
    border: 0.1px solid white
}

.links a::after {
    content: '';
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: white;
    transition: transform 600ms;
    transform: scale(0);
    transform-origin: center;
    border-radius: 18px;
    z-index: 9999;
}

.links a:hover::after,
.links a:focus::after {
    transform: scale(1);
}

.linkitems a:hover {
    text-decoration: underline;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (max-width: 800px){
    .banner {
        
        background-image: url(../img/banner3.jpg);
       
    }
    header {
        position: fixed;
        min-width: 400px;
    }

    .topnavbar {
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5px 10px;
    }

    .logo-envio {
        margin-left: 20px;
    }

    .login-carrito {
        margin-right: 20px;
    }

    .bottomnavbar {
        display: none;
    }

    .envio i {
        display: none;
    }

    .login i {
        display: none;
    }

    .searchbar {
        order: 2;
        margin: auto;
        width: 100%;
    }

    .topventas article,
    .prodpopulares article {
        width: 200px;
        height: 200px;
    }

    .itemswrapper div {
        width: 240px;
        /*height: 240px;*/
    }
    .prodpopulares {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
        padding-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .topventas {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
        padding-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .principal article {
        width: 100%;
    }
}

@media screen and (max-width: 412px) {
    .principal {
        top: -460px;
    }
    header {
        position: fixed;
        min-width: 400px;
    }

    .principal article .itemswrapper div:nth-child(n + 3) {
        display: none;
        background-color: #222222;
    }

    .prodpopulares {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        padding-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .topventas {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        padding-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .searchbar {
        width: 100%; 
    }

    .searchbar a {
        width: 60px;
    }

    .searchbar a i {
        width: 40px;
        padding-left: 10px;
    }

    .searchbar input {
        width: 220px;
        min-width: 220px;
    }

    .logo-envio {
        margin-left: 8px;
    }

    .login-carrito {
        margin-right: 8px;
    }

    .itemswrapper div {
        /*width: 180px;*/
        height: 180px;
    }

    .itemswrapper {
        height: fit-content;
    }

    .prodpopulares article, .topventas article {
        width: 100%;
    }
}
@media screen and (max-width: 760px) and (min-width:413px) {
    header {
        position: fixed;
        min-width: 400px;
    }
    
    .principal {
        position: relative;
        top: -410px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        align-content: center;
    }
    .principal article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        width: 100%;
    }
}