@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    padding-top: 90px;
    background-color: #eaeded;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

main {
    margin: 20px;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 60%;
    min-width: 300px;
    height: fit-content;
    min-height: 300px;
    border: 1px solid #fff;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

h2 {
    margin: 10px;
    text-decoration: underline;
}


.user-name-image {
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.user-name-image div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-name-image img {
    max-height: 250px;
    max-width: 250px;
}

.user-name-image h3 {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user-info div {
    height: 40px;
    width: 500px;
    min-width: 150px;
    display: flex;
    align-items: center;
}

.info-title {
    width: 50%;
    justify-content: flex-start;
    display: flex;
    text-decoration: underline;
}

.info-data {
    width: 50%;
    justify-content: flex-start;
    display: flex;
}


@media screen and (max-width: 800px) {
    .user-name-image, .user-description, .user-info {
        width: 100%;
    }

    .user-name-image img {
        min-width: 150px;
    }
}