<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/categorias.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js""></script>
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <main>
      <section class="barralateral">
        <div>
            <h5>Categorias</h5>
            <ul>
                <li><a href="/categorias">Todas</a></li>
                <li><a href="/categorias">Nueva</a></li>
            </ul>
        </div>
      </section>
      <section class="listadoproductos">
dddd
      </section>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>

</body>

</html>