<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Mi Carrito</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/cesta.css" />
    <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/navbar') %> 
    <div class="contenedor">
        <section class="cesta">
            <article class="headitems">
                <div class="divcesta">Mi carrito</div>
                <div class="divprecio">Precio</div>
                
            </article>
            <article class="cestaitem">
                <div class="imagenitem">
                    <img src="/img/gskill.jpg">
                </div>
                <div class="detalleitem">
                    <div class="titulodesc">Modulo 16GB DDR4 3600Mhz</div>
                    <div class="descripcionitem"> Memoria DDR4 OCZ Performance 3600Mhz RGB con disipador</div>
                    <div class="opcionesitem">
                        <div class="cantidad">
                            <label for="selectcantidad">Cant.</label>
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                
                            </select>
                        </div>
                        <div class="linksopciones"><a href="#">Eliminar</a><a href="#">Ver productos similares</a></div>
                    </div>
                </div>
                <div class="precioitem">$15.000</div>
            </article>
            <article class="cestaitem">
                <div class="imagenitem">
                    <img src="/img/3090.jpg">
                </div>
                <div class="detalleitem">
                    <div class="titulodesc">Geforce RTX3090 24GB</div>
                    <div class="descripcionitem"> Placa de video RTX3090 24GB 1450Mhz OC PCIe 4.0</div>
                    <div class="opcionesitem">
                        <div class="cantidad">
                            <label for="selectcantidad">Cant.</label>
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                
                            </select>
                        </div>
                        <div class="linksopciones"><a href="#">Eliminar</a><a href="#">Ver productos similares</a></div>
                    </div>
                </div>
                <div class="precioitem">$560.000</div>
            </article>
            <article class="cestaitem">
                <div class="imagenitem">
                    <img src="/img/ryzen.jpg">
                </div>
                <div class="detalleitem">
                    <div class="titulodesc">Ryzen 9 5990X</div>
                    <div class="descripcionitem"> Procesador AMD Ryzen 9 5990X 16 core 4.4Ghz 64Mb cache L3 </div>
                    <div class="opcionesitem">
                        <div class="cantidad">
                            <label for="selectcantidad">Cant.</label>
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                
                            </select>
                        </div>
                        <div class="linksopciones"><a href="#">Eliminar</a><a href="#">Ver productos similares</a></div>
                    </div>
                </div>
                <div class="precioitem">$158.000</div>
            </article>
            <article class="total">
                <span>Subtotal (3 Productos):<strong> $ 733.000</strong></span>
            </article>
        </section>
        <section class="barralateral">
            <article class="barralateralitem">
                <div class="cajasubtotal">
                    <span>Subtotal (3 Productos):<strong> $ 733.000</strong></span>
                    <button class="botonpedido">Finalizar pedido</button>
                </div>
            </article>

        </section>
    </div>
  <%- include('./partials/sidenav') %>

</body>

</html>