<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productCreate.css" />
    <title>Nueva Publicación</title>
  </head>
  <body>
    <div class="productForm">
      <div class="logo">
        <a href="/">
          <img src="/img/amazona-negro.png" alt="Amazona" />
        </a>
      </div>
      <h2>Publicar Producto</h2>
      
      <form
        action="/product/create"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="tituloForm">
          <label for="titulo">Titulo del producto:</label>
          <input type="text" name="titulo" id="titulo" />
        </div>
        <div class="descripcionForm">
          <label for="descripcion">Descripcion del producto:</label>
          <textarea name="descripcion" id="descripcion"></textarea>
        </div>
        <div class="categoriaForm">
          <label for="categoria">Selecciona la categoria:</label>
          <select name="categoria" id="categoria">
            <option value="tecnologia">Tecnologia</option>
            <option value="moda">Moda</option>
            <option value="hogar">Hogar</option>
            <option value="deportes">Deportes</option>
            <option value="movilidad">Movilidad</option>
            <option value="niños">Niños</option>
          </select>
        </div>
        <div class="precioForm">
          <label for="precio">Precio:</label>
          <input type="number" name="precio" id="precio" step="0.01" />
        </div>
        <div class="imagenPrincipal">
          <h5>Agregar imágen principal</h5>
          <br>
          <div class="imagenForm">
            <label for="imagenPrincipal">Seleccionar Imagen</label>
            <input
              type="file"
              name="imagenPrincipal"
              id="imagenPrincipal"
              accept="image/*"
            />
            <% if(locals && locals.mensaje){ %>
              
                <br>
                <div class="error">
                  
                  <%= mensaje.descripcion %> 
                  
                </div>
            <%  
            }
             %>
          </div>
        </div>
        <div class="imagenesSecundarias">
          <h5>Agregar imágenes secundarias</h5>
          <div class="imagenForm">
            <label for="imagenSecundaria">Seleccionar imágenes</label>
            <input
              type="file"
              name="imagenSecundaria[]"
              id="imagenSecundaria"
              accept="image/*"
              multiple
            />
          </div>
        </div>
        <div class="submitForm">
          <button type="submit">Publicar</button>
        </div>
      </form>
    </div>
  </body>
</html>
