<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/registro.css" />
    <title>Registro</title>
  </head>
  <body>
    <div class="registro">
      <form action="/registro/create" method="post">
        <a href="/"><img src="/img/amazona-negro.png" alt="" /></a>
        
        <% if(locals.errors) { %>
          <% errors.forEach(error => { %>
            <div class="errores">
              <%= error.msg %>
            </div>  
          <%  }) %> 
        <% } %> 
        <div class="form-box">
          <label for="usuario">Nombre de usuario:</label>
          <input
            type="text"
            name="usuario"
            autocomplete="username"
            id="usuario"
            placeholder="Nombre de usuario"
            required
            minlength="4"
            maxlength="18"
            value="<%= locals.old && old.usuario ? old.usuario : "" %>"
          />
        </div>
        <div class="form-box">
          <label for="mail">Email:</label>
          <input
            type="email"
            name="mail"
            id="mail"
            autocomplete="email"
            placeholder="ejemplo@correo.com"
            required
            value="<%= locals.old && old.mail ? old.mail : "" %>"
          />
        </div>
        <div class="form-box">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="new-password"
            required
            minlength="6"
          />
        </div>
        <div class="form-box">
          <label for="confPassword">Confirme su contraseña</label>
          <input
            type="password"
            name="confPassword"
            id="confPassword"
            autocomplete="new-password"
            required
            minlength="6"
          />
        </div>
        <div class="form-date">
          <label for="fechanac">Fecha de nacimiento:</label>
          <input type="date" id="fechanac" name="fechanac" required value="<%= locals.old && old.fechanac ? old.fechanac : "" %>"/>
        </div>
        <div class="form-select">
          <label for="pais">Pais de residencia</label>
          <select name="pais" id="pais" required>
            <option name="arg" value="Argentina" id="pais">
              Argentina
            </option>
            <option name="bol" value="Bolivia" id="pais">Bolivia</option>
            <option name="bra" value="Brasil" id="pais">Brasil</option>
            <option name="chi" value="Chile" id="pais" >Chile</option>
            <option name="col" value="Colombia" id="pais">Colombia</option>
            <option name="ecu" value="Ecuador" id="pais">Ecuador</option>
            <option name="par" value="Paraguay" id="pais">Paraguay</option>
            <option name="per" value="Peru" id="pais">Peru</option>
            <option name="uru" value="Uruguay" id="pais">Uruguay</option>
            <option name="vzl" value="Venezuela" id="pais">
              Venezuela
            </option>
          </select>
        </div>
        <div class="form-image">
          <label for="imagenPerfil">Imagen de perfil:</label>
          <input type="file" name="imagenPerfil" id="imagenPerfil" accept="image/*">
        </div>
        <div class="form-submit">
          <button type="submit">Registrarse</button>
        </div>
      </form>
      <a href="/login">Ya tenes una cuenta? ingresa.</a>
      <a href="/">Pagina de inicio.</a>
    </div>
  </body>
</html>
