<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/product.css">

  <script src="https://kit.fontawesome.com/91393ea5bf.js" crossorigin="anonymous"></script>
  <title>Detalle de Producto</title>
</head>

<body>
  <% if (productos!=undefined) { %>
  <%- include('./partials/navbar') %>
  <%- include('./partials/sidenav') %>
   <% } %>
</body>

</html>