<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/userProfile.css">
    <title>Perfil de usuario</title>
</head>
<body>
    <%- include('./partials/navbar') %>  
    <main>
        <section>
            <div class="user-name-image">

                    <img src="" alt="">
                
                <h3>Nombre de usuario</h3>
            </div>
            <div class="user-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorum incidunt nesciunt quaerat blanditiis ratione placeat temporibus vel soluta? Voluptatem praesentium fugit magnam a sequi adipisci quos obcaecati commodi ratione.</p>
            </div>
            <div class="user-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex commodi aut laboriosam cum eveniet eaque saepe. Nesciunt eligendi quae blanditiis</p>
            </div>
            
            <div class="logout">
                <a href="#">Cerrar sesion</a>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/sidenav') %>
</body>
</html>