<footer class="footercontainer">
<div class="colizq">
<h2>Pagos</h2>
    <ul>
        <li>Targeta de Crédito</li>
        <li>Tarjeta de Débito</li>
        <li>Transferencia Bancaria</li>
        <li>Rapipago</li>
        <li>Pagofácil</li>
        <li>Amazona Credit</li>
    </ul>
</div>
<div class="central">
    <h2>Categorías</h2>
    <ul>
        <li>Tecnología</li>
        <li>Gaming</li>
        <li>Indumentaria</li>
        <li>Deportes</li>
        <li>Niños</li>

    </ul>
</div>
<div class="colder">
    <h2>Contactos</h2>
    <ul>
        <li>oficinas</li>
        <li>Teléfonos</li>
        <li>Correo Electrónico</li>
        <li>Chat</li>
    </ul>
</div>

</footer>
