<footer class="footercontainer">
<div class="colizq">
<h2>Pagos</h2>
    <ul>
        <li>Targeta de Crédito</li>
        <li>Tarjeta de Débito</li>
        <li>Transferencia Bancaria</li>
        <li>Rapipago</li>
        <li>Pagofácil</li>
        <li>Amazona Credit</li>
    </ul>
</div>
<div class="central">
    <h2>Categorías</h2>
    <ul>
        <li><a href="/categorias/1">Tecnología</a></li>
        <li><a href="/categorias/2">Moda</a></li>
        <li><a href="/categorias/3">Hogar</a></li>
        <li><a href="/categorias/4">Deportes</a></li>
        <li><a href="/categorias/5">Movilidad</a></li>
    </ul>
</div>
<div class="colder">
    <h2>Contactos</h2>
    <ul>
        <li>oficinas</li>
        <li>Teléfonos</li>
        <li>Correo Electrónico</li>
        <li>Chat</li>
    </ul>
</div>

</footer>
