<header>
    <nav class="topnavbar">
      <a href="#" onclick="openNav()" class="menu">
        <i class="fa-solid fa-bars"></i>
      </a>
      <div class="logo-envio">
        <a class="logo" href="/"><img src="/img/amazona-blanco.png" alt="" /></a>
        <div class="envio">
          <a href="#" class="iconoenvio">
            <i class="fa-solid fa-location-dot"></i>
          </a>
          <p>
            <span class="enviara">Enviar a</span> <br />
            <a href="#"><% if(locals.session.user){ %>
              <%= locals.session.pais %>
              <% } else { %>
              Argentina</a>
              <% } %>
          </p>
        </div>
      </div>
      <div class="searchbar">
        <a class="linkizquierda" href="#">Categorias</a>
        <input type="text" name="searchbox" id="searchbox" />
        <a class="linkderecha" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div class="login-carrito">
        
        <% if(locals.session.user){ %>
          <div class="dropdown">
            <button class="dropbtn"><img src="../img/profiles/<%= locals.session.imagen %>" style="width:24px">&nbsp;<%= locals.session.user %></button>
            <div class="dropdown-content">
              <a href="perfil">Perfil</a>
              <a href="product/create/">Vender</a>
              <a href="admin">Publicaciones</a>
              <a href="logout">Cerrar Sesión</a>
            </div>
          </div>
          <% } else { %>
        <a class="login" href="/login">
          <i class="fa-solid fa-user"></i>
          <p>
            Iniciar <br />
            sesión
           
          </p>
        </a>
        <% } %>
        <a class="carrito" href="/cesta">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="numerocesta"></span>
        </a>
      </div>
    </nav>
    <nav class="bottomnavbar">
      <div class="categorias">
        <a href="#" onclick="openNav()">
          <i class="fa-solid fa-bars"></i>
          <p>Más</p>
        </a>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Ofertas del dia</a></li>
          <li><a href="#">Mas populares</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Servicio al cliente</a></li>
        </ul>
      </div>
    </nav>
  </header>
 